<div class="login-form-container">
  <form [formGroup]="loginForm" (submit)="login()" class="login-form">
    <h2>Login</h2>
    <div class="form-group">
      <label for="email_username">Username/Email</label>
      <input
        type="text"
        id="email_username"
        formControlName="email_username"
        required
      />
      @if ( loginForm.get('email_username')?.invalid &&
      (loginForm.get('email_username')?.dirty ||
      loginForm.get('email_username')?.touched)){
      <div class="error">Username or Email is required</div>
      }
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        required
      />
      @if( loginForm.get('password')?.invalid &&
      (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)){
      <div class="error">
        Password is required and must be at least 6 characters long
      </div>
      }
    </div>
    <button type="submit" [disabled]="loginForm.invalid" class="wow-button">
      Log In
    </button>
  </form>
</div>
