<div *ngIf="!mobile" class="flex flex-column h-screen">
  <ui-header />
  <p-divider class="p-0 m-0" />
  <router-outlet />
</div>

<div *ngIf="mobile" class="flex flex-column gap-0 h-screen">
  <div class="flex flex-row justify-content-between align-items-center p-2 header">
    <p-button
      label="Cursos"
      iconPos="left"
      icon="pi pi-book"
      (click)="showSideBar = !showSideBar"
    />
    <header-profile [mobile]="mobile" />
    <p-button
      label="Menu"
      iconPos="right"
      icon="pi pi-bars"
      (click)="showHeader = !showHeader"
    />
  </div>
  <p-sidebar [(visible)]="showHeader" position="right">
    <ui-header />
  </p-sidebar>
  <p-sidebar [(visible)]="showSideBar" position="left">
    <ui-side-bar />
  </p-sidebar>
  <p-divider class="p-0 m-0" />
  <p-scrollPanel [style]="{ 'height': '90vh', 'margin-top': '1rem'  }">
    <router-outlet />
  </p-scrollPanel>
</div>
