<div class="card flex justify-content-center">
  <p-accordion [activeIndex]="[]" multiple="true" class="w-full">
    <p-accordionTab header="Ranking General"></p-accordionTab>
    <p-accordionTab header="Cursos de Carrera">
      @for (course of allCourses; track course.id) {
      <div class="flex flex-column">
        <p-button
          label="{{ course.name }}"
          styleClass="w-full mb-3"
          (click)="seeCourse(course.id!.toString())"
        />
      </div>
      }
    </p-accordionTab>
    <p-accordionTab header="Cursos Inscritos">
      @for (course of myCourses; track course.id) {
      <div class="flex flex-column">
        <p-button
          label="{{ course.name }}"
          styleClass="w-full mb-3"
          (click)="seeCourse(course.id!.toString())"
        />
      </div>
      }
    </p-accordionTab>
    <p-accordionTab header="Sesiones Programadas"> </p-accordionTab>
  </p-accordion>
</div>
