<div class="flex flex-row gap-1">
  <p-toast position="bottom-left" />
  <p-menu #new [model]="items" [popup]="true" />
  <p-button
    icon="pi pi-bell"
    label="Notificaciones"
    [severity]="themeService.buttonStyle.severity"
    styleClass="p-button-rounded"
    (click)="new.toggle($event)"
  />
  <!-- Notification History -->
  <p-menu #old [model]="oldItems" [popup]="true" />
  <p-button
    icon="pi pi-bell"
    label="Historial de notificaciones"
    [severity]="themeService.buttonStyle.severity"
    styleClass="p-button-rounded"
    (click)="old.toggle($event)"
  />
</div>
