<div
  [class]="
    mobile
      ? 'flex flex-row justify-content-start align-items-start'
      : 'w-full text-center flex flex-row justify-content-between align-items-center'
  "
>
  <img *ngIf="!mobile" src="udhlog.png" height="70rem" class="m-2" />
  <div [class]="menuClass">
    <div class="flex flex-row gap-2 align-items-center">
      <p-chip
        styleClass="bg-transparent"
        [icon]="isDarkMode ? 'pi pi-moon' : 'pi pi-sun'"
      />
      <p-inputSwitch
        [ngModel]="isDarkMode"
        (ngModelChange)="toggleLightDark()"
        styleClass="p-button-rounded"
      />
    </div>
    @if (!isOnAuth) {
    <header-notis [mobile]="mobile" />
    <p-button
      icon="pi pi-comments"
      label="Mensajes"
      [severity]="themeService.buttonStyle.severity"
      [styleClass]="mobile ? 'p-button-rounded w-full' : 'p-button-rounded'"
    />
    <header-profile *ngIf="!mobile" />
    <p-button
      icon="pi pi-user"
      label="Perfil"
      [severity]="themeService.buttonStyle.severity"
      [styleClass]="mobile ? 'p-button-rounded w-full' : 'p-button-rounded'"
      (click)="goToProfile()"
    />
    <p-button
      icon="pi pi-sign-out"
      label="Cerrar Sesión"
      [severity]="themeService.buttonStyle.severity"
      [styleClass]="mobile ? 'p-button-rounded w-full' : 'p-button-rounded'"
      (click)="logout()"
    />}
  </div>
</div>
